{{>head}} 

{{>navbar}}  <!--importa el navbar-->

<div class="row">
    <div class="col-8">
        <h1>About Meicita</h1>
    </div>

    <div class="col-4">
        <img src="assets/img/mei.jpg" alt="" class="img-thumbnail">
    </div>
</div>
    


{{>footer}} 